* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  margin: auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* background-image: linear-gradient( 90.4deg,  rgba(24,134,255,1) 3.8%, rgba(0,43,240,1) 18.2%, rgba(28,0,102,1) 49.2%, rgba(41,0,78,0.65) 71.5%, rgba(41,0,78,0) 94.8% ); */
  /* background-image: radial-gradient( circle farthest-corner at 50.2% 50.7%,  rgba(241,168,179,1) 0%, rgba(254,246,233,1) 90% ); */
  /* background-image: linear-gradient( 156.2deg,  rgba(0,0,0,1) 14.8%, rgba(32,104,177,1) 68.1%, rgba(222,229,237,1) 129% ); */
  /* background-image: linear-gradient( 90.5deg,  rgba(152,45,255,1) 0.7%, rgba(90,241,255,1) 51.5%, rgba(65,239,164,1) 100.6% ); */
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% ); */
  /* background-image: linear-gradient( 90.1deg,  rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 99.9% ); */
  
  
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(171,102,255,1) 0%, rgba(116,182,247,1) 90% ); */
 
 
  /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(247,87,0,1) 0%, rgba(249,0,0,1) 90.1% ); */
  /* background-image: linear-gradient( 180.5deg,  rgba(46,255,171,1) 12.3%, rgba(252,251,222,0.46) 92% ); */
  /* background-image: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% ); */
  /* background-image: radial-gradient( circle farthest-corner at 1.5% 1.4%,  rgba(159,227,255,1) 0%, rgba(255,177,219,1) 100.2% ); */

}
.card-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 130vh;
}
.header {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.header p {
  width: 46%;
  margin: auto;
  color: gray;
  font-size: 0.9rem;
  font-weight: 600;
}
.header-title{
  font-size: 1.25rem;
  color: black;
}
.card {
  background-color: white;
  width: 230px;
  height: 300px;
  border-radius: 5px;
  /* box-shadow: 0 5px 10px rgba(30, 29, 29, 0.881); */
  border: rgb(225, 220, 220) 1px solid;
  /* box-shadow: 10px 5px 10px 0px rgba(239, 8, 108, 0.388); */
}
.card-img {
  width: 100%;
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* .card-img-container{
  position: relative;
  overflow: hidden;
  height: 50px;
}
.card-img{
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;

} */
.card-img:hover{
  transform: scale(1.1);
  /* transition: all 0.3s ease-in-out; */
  transition-duration: 200ms;
}
.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8rem;
}
.card-holder-name {
  display: flex;
  /* gap: 40px; */
  justify-content: space-around;
  font-size: 0.7rem;
  gap: 25px;
}
.name {
  display: flex;
  gap: 7px;
}
.date-name {
  display: flex;
  flex-direction: column;
}
.card-holder-name img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.button button {
  font-size: 0.55rem;
  padding: 3px;
  border: gray 2px solid;
  border-radius: 4px;
  color: rgb(105, 105, 105);
  cursor: pointer;
}
.card-description {
  color: rgb(101, 99, 99);
  font-size: 0.7rem;
}
.author-name {
  color: rgb(34, 125, 215);
  font-weight: bold;
  cursor: pointer;
}
.card-section {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.card-title {
  font-size: 0.9rem;
  cursor: pointer;
}
.card-title:hover{
  color: rgb(241, 70, 70);
}

@media (max-width: 1200px) {
  .header p {
    width: 95%;
  }
  .card-container{
    height: 130vh;
    width:100vw ;
  }
}
@media (max-width: 600px) {
  .header p {
    font-size: 0.7rem;
  }
}